#logo
{
    font-size: 18px
}
#avathar
{
    width: 20%;
}
#avathar
{
    align-items: center;
}
#para{
    font-size: 15px
}
#gradient{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #c71b1b,#160b76);
}
.p{
    color: #fff;
    width: 650px;
}
.h1{
    font-size: 38px;
    font-weight: 800;
}
.btn-1{
    background-color: #ffa500;
    color: #fff;
}
.btn-1:hover{
    background-color: #f8c66b;
    color: #fff;
}
.btn-2{
    background: none;
    border: 1px solid #ffa500;
    color: #fff;
}
.btn-2:hover{
    background: none;
    background-color: #ffa500;
    color: #fff;
}
.sec-2 img{
    width: 500px;
}

.sec-btn{
    background-color: #ffa500;
    color: #fff;
}
.sec-btn:hover{
    border: 1px solid #ffa500;
    color: #000;
}

.card{
    display: flex;
    align-items: center;
}

.card-box{
    width: 305px;
    height: 330px;
    border: none;
    border-radius: 18px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
}
.card-box:hover img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.sec-4 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: .3s;
}
.cont-1{
    background-color: #f5eac1;
}
